body{
  margin:0;
}
a{
  color:black;
  text-decoration: none;
}
h1 {
  font-size: 150%;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding: 10px;
}
ol{
  border-right:1px solid gray;
  width: 40px;
  margin: 0px;
  padding: 20px;
}

.saw {
  color:gray;
}
#active{
  color:red;
}
#seok{
  display: grid;
  grid-template-columns:80px 1fr
}
#seok ol{
  padding-left: 25px;
  padding-right: 0px;
}
#article{
  margin-top: 20px;
}
@media(max-width:600px){
  #seok{
    display: block;
  }
  #seok ol{
    border-right:none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #article{
    margin-top: 0px;
  }
